.todo-edit {
  margin-top: 20px;
}

.todo-edit__buttons {
  text-align: right;
}

.todo-edit__btn-cancel {
  margin-left: 10px;
}

.todo-edit__title-input {
  margin-top: 40px;
}

.todo-edit__done-chk {
  padding-left: 20px;
}